<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udelvr">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--map-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Protect the map component of the application using application signature -->
    <permission
        android:name="com.udelvr.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- Allows to receive map -->
    <uses-permission android:name="com.prasad.maps.permission.MAPS_RECEIVE" />

    <!-- Used by the Google Maps Android API V2 to download map tiles from Google Maps servers -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Allows the Google Maps Android API V2 to cache map tile data in the device's external storage area -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Allows the Google Maps Android API V2 to use WiFi or mobile cell data (or both) to determine the device's location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--
    Allows the Google Maps Android API V2 to use the Global Positioning System (GPS)
    to determine the device's location to within a very small area
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />



    <application
        android:allowBackup="true"
        android:name=".ApplicationContextProvider"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>\

        <activity
            android:name=".SplashScreen.SpashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen.SplashScreenFragmentRegisterNewUser"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            >
        </activity>
        <activity android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name=".CustomerMode.CustomerMainActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".CustomerMode.Shipment.AddShipment"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_shipment"
           >
        </activity>


        <activity
            android:name=".DriverMode.DriverMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppDriverTheme"></activity>

        <activity
            android:name=".DriverMode.ShipmentDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppDriverTheme"></activity>


        <activity
        android:name=".Map.CurrentLocationActivity"
        android:label="@string/app_name"
        android:theme="@style/AppDriverTheme"></activity>


        <activity
            android:name="com.udelvr.CustomerMode.ApplyToBeDriver"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_app_id" />

        <!--<activity-->
            <!--android:name="com.prasad.helpactivities.Onmaphelp"-->
            <!--android:label="@string/title_activity_onmaphelp"-->
            <!--android:theme="@style/Theme.Transparent">-->
        <!--</activity>-->

        <!--<receiver android:name="com.udelvr.SMSverification.SMSBroadcastReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.provider.Telephony.SMS_RECEIVED"></action>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>
